streamlit
numpy
faiss-cpu
openai==0.28
python-dotenv
streamlit_extras
numpy
onnxruntime== 1.19.0
phonemizer==2.2.1
SpeechRecognition
faster-whisper
sentence-transformers
soundfile
pyaudio
wave
argparse
streamlit_lottie
mangum
pydantic
fastapi
uvicorn